@model MVC_Management.ViewModal.PaymentLoans

@{
    ViewData["Title"] = "Client Records";
}



<div class="card">
    <div class="card-body">
        <div class="col-md-4">
            <div class="row">

                <form asp-action="Index" enctype="multipart/form-data" class="form-vertical">

                    <div class="row">


                        <div class="col-md-11">


                            <div class="form-group">
                                <label asp-for="PhoneNumber" class="control-label"></label>
                                <input asp-for="PhoneNumber" type="search" id="search" value="@ViewBag.PhoneNumber" class="form-control" placeholder="Search" aria-label="Search" />

                            </div>

                        </div>



                    </div>



                    <div class="row">


                        <div class="col-md-11">


                            <div class="form-group">
                            <button type="submit" class="btn btn-primary">Search <i class="fa fa-search"></i></button>

                            </div>

                        </div>



                    </div>





                </form>
            </div>

        </div>
    </div>

</div>











<div class="card">
    <div class="card-header">
        <h3 class="card-title">Client Details</h3>
    </div>

    <div class="card-body">

        <div class="row">
            <div class="col-md-12">

                <div class="row">

                    <div class="col-md-4">
                        <div class="user-block">
                            <img class="img-circle" src="https://x.loandisk.com/images/face_image_placeholder.png" width="200" height="200">
                            <span class="username">
                                Mr.  pro
                            </span>
                            <span class="description" style="font-size:13px; color:#000000">
                                ID: @ViewBag.ID<br>
                            </span>
                        </div><!-- /.user-block -->
                    </div>

                    <div class="col-md-4">
                        <ul class="list-unstyled">
                            <li><b>Name:</b> @ViewBag.Name</li>
                            <li><b>Surname:</b> @ViewBag.Surname</li>
                            <li><b>Address:</b> @ViewBag.Address</li>
                            <li><b>Gender:</b> @ViewBag.Gender</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-unstyled">


                            <li><b>Phone Number:</b> @ViewBag.PhoneNumber
                            <li><b>Alternative Number:</b> @ViewBag.AlternativeNumber
                        </ul>
                    </div>

                    <div class="col-md-4">
                        <ul class="list-unstyled">

                            <li><b>Total Amount Due:</b> @ViewBag.AmountDue

                        </ul>
                    </div>






                </div>





            </div>
        </div>

    </div>
</div>






<div class="card">
    <div class="card-header">
        <h3 class="card-title">Client Records</h3>
    </div>

    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
    <thead>
        <tr>
            

            

            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>


                    <th>
                        @Html.DisplayNameFor(model => model.LoanDate)
                    </th>

            <th>
                @Html.DisplayNameFor(model => model.loanType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.loanAmount)
            </th>
           

              <th>
                @Html.DisplayNameFor(model => model.Interest)
            </th>
           


            <th>
                @Html.DisplayNameFor(model => model.AmountDue)
            </th>
           
            
           
            
            
               <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>



             <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.PaymentAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
                @foreach (var item in Model.Statements)
                {
        <tr>
            
           

            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.LoanDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.loanType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.loanAmount)
            </td>
            

             <td>
                @Html.DisplayFor(modelItem => item.Interest)
            </td>


            <td>
                @Html.DisplayFor(modelItem => item.AmountDue)
            </td>
            
            
            
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>


            <td>
                @Html.DisplayFor(modelItem => item.PaymentAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Balance)
            </td>
            
            <td>
            
                 <a asp-action="Details" asp-route-id="@item.Id" class="btn  btn-warning"><i class="fa fa-eye"></i> View</a>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn  btn-primary"><i class="fa fa-eye"></i> Edit</a>
                            <!--    <a asp-action="Delete" asp-route-id="@item.Id" class="btn  btn-danger"><i class="fa fa-eye"></i> Delete</a>-->
                            <!--            -->
            </td>
        </tr>
}
    </tbody>
</table>
</div>
</div>